<div class="mt-4">
    <div class="row">
        <div class="col">
            <input type="hidden" id="user-data" style="display:none;" value="{{user}}" />
        </div>
    </div>
    <div class="row">
        {{#each tests}}
        <div class="col-sm-6 col-lg-4">
            <div class="card" style="width: 18rem;">
                <a href="/hotel/{{this.slug}}">
                    <img src="{{this.image}}" class="card-img-top" alt="...">
                </a>
                <div class="card-body">
                    <a href="/hotel/{{this.slug}}">
                        <h5 class="card-title">{{this.name}}</h5>
                    </a>
                    <p class="card-text">{{this.description}}</p>
                    <a href="#" class="btn btn-primary"></a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>
<script>
    let user = document.getElementById('user-data').value;
    let username = user.split('name:')[1].split(',')[0].replace("'", '').replace("'", '') || ``;
    document.getElementById('user-name').innerHTML = username;
    saveSession('username', username);
    manageButtons();   
</script>