<div class="mt-4" style="background-color: #003580;margin:0px !important;padding-top:24px">
    <div class="row">
        <div class="col">
            <input type="hidden" id="user-data" style="display:none;" value="{{user}}" />
        </div>
    </div>
    <div class="row">
        {{#each hotels}}
        {{#if (pageNumChange @index)}}
        <div class="col-sm-6 col-lg-4">
            <div class="card" style="width: 18rem;min-height:650px;margin:20px auto;over-flow:hidden;white-space: wrap">
                <a href="/hotel/{{this.slug}}">
                    <img srcset="{{this.image}}, https://cf.bstatic.com/xdata/images/hotel/square200/40510723.jpg?k=7c44ca8624b5270d9f865324aef8ebb5d1345f8bf468d5f0a455d55736b63153&o=
" class="card-img-top" alt="">
                </a>
                <div class="card-body" style="background-color: rgb(136, 123, 123);">
                    <a href="/hotel/{{this.slug}}">
                        <h5 class="card-title" style="white-space: wrap">{{this.name}}</h5>
                    </a>
                    <div class="card-text-div" style="overflow:hidden;max-height:140px;margin-bottom:12px;display: -webkit-box;
-webkit-line-clamp: 4;
-webkit-box-orient: vertical;;">
                        <p class="card-text ">{{this.description}}</p>
                    </div>
                    <p class="card-text ">Giá mỗi đêm rẻ nhất từ</p>
                    
                    <p style="color:red;margin-top:2px !important;
                    padding:0px">VND {{this.price}}</p>
                    <p  style="color:blue;margin-top:2px;
                    padding:0px">{{this.location}}</p>                                
                    <a href="/hotel/{{this.slug}}" class="btn btn-primary">Xem phòng</a>
                </div>
            </div>
        </div>
        {{/if}}
        {{/each}}
    </div>
    <nav aria-label="Page navigation example " style="align-item:center ;margin:0;padding:0px auto">
        <ul class="pagination" style="align-item:center #important;margin:0;padding:50px 10px">
            {{#each hotels}}
            {{#if (pageNum @index numDocs)}}
            <li class="page-item"><a class="page-link" href="/page/{{@index}}">{{@index}}</a></li>
            {{/if}}
            {{/each}}
            <li class="page-item">
                <a class="page-link" href="/page/{{lastPage}}">Trang cuối</a>
            </li>
        </ul>
    </nav>
</div>
<script>
    let user = document.getElementById('user-data').value;
    let username = user.split('name:')[1].split(',')[0].replace("'", '').replace("'", '') || ``;
    document.getElementById('user-name').innerHTML = username;
    saveSession('username', username);
    manageButtons();
</script>